body{
    font-family: 'Lato', sans-serif;
}

main{
    margin-top: 5em;
}

h1, h2, h3, .navbar-brand{
    font-family: 'Lora', serif;
}

.bg-garden{
    background-color: #1B3322 !important;
}

#logo{
    height: 2em;
    width: 2em;
}
